.footer__title{
    font-size: var(--size-xs);
    font-weight: 400;
    color: var(--clr-slate600);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
}

.footer__flex{
    display: flex; 
    flex-direction: row;
    width: 100%;
  } 

.footer__flex_item {
    /* background-color: blue; */
    flex-grow: 1;
    align-items: center;
    height: 15rem;
    border: 1px solid lightblue;
}
.footer__flex_item2 {
    flex-grow: 2;
    align-items: center;
    height: 15rem;
    border: 1px solid lightblue;
}

.footer__list{
/*     
    font-size: var(--size-xl);
    font-weight: 800; */
    list-style: none;
    text-align: left;
    font-weight: 400;
}

/* xs */
/* @media (min-width: 475px) {
    
} */

/* sm */
/* @media (min-width: 640px) {
   
} */

/* md */
/* @media (min-width: 768px) {
    
} */


/* lg */
/* @media (min-width: 1024px) {
    
} */

/* xl */
/* @media (min-width: 1280px) {
  
} */

/* 2xl */
/* @media (min-width: 1536px) {
    
} */