.footer__title{
    font-size: var(--size-xs);
    font-weight: 400;
    color: var(--clr-slate600);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
}


.footer__flex{
    display: flex; 
    flex-direction: row;
    width: 100%;
  } 



.footer__list{
/*     
    font-size: var(--size-xl);
    font-weight: 800; */
    list-style: none;
    text-align: left;
    font-weight: 400;
}



/* =================================================================================================== */

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 1rem 0 3rem 0;
    padding: 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    /* text-decoration: none;
    color: #fff; */
    font-size: var(--size-3xl);
    text-decoration: none;
    color: var(--clr-light);
    letter-spacing : -0.05em;
    transition: color 0.3s;
}
.socials a i{
    /* font-size: 1.1rem; */
    transition: color .4s ease;
}

.socials a:hover i{
    color:var(--clr-rose);
}

/* =================================================================================================== */

/*  */
/* xs */
/* @media (min-width: 475px) {
    
} */

/* sm */
/* @media (min-width: 640px) {
   
} */

/* md */
/* @media (min-width: 768px) {
    
} */


/* lg */
/* @media (min-width: 1024px) {
    
} */

/* xl */
/* @media (min-width: 1280px) {
  
} */

/* 2xl */
/* @media (min-width: 1536px) {
    
} */